<template name="OrderFinance">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> OrderFinanceView}}
	</div>
</template>

<template name="OrderFinanceView">
	<div id="order-finance-view" class="">
		<h2 id="component-title">
			결제 관리
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-search">
				{{#if isNotEmpty}}
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
				{{/if}}
			</div>
		</form>
		{{#if isNotEmpty}}	
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> OrderFinanceViewTable}} {{/if}}
		</div>
		{{/if}}	
		{{else}}
		<div class="alert alert-info">
			등록된 주문서가 없습니다 :(
		</div>
		{{/if}}
	</div>
</template>

<template name="OrderFinanceViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="customer.name">
					고객
				</th>
				<th class="th-sortable" data-sort="invoiceNumber">
					주문서 No
				</th>
				<th class="th-sortable" data-sort="date">
					주문날짜
				</th>
				<th class="th-sortable" data-sort="orderedBy">
					주문자
				</th>
				<th class="th-sortable" data-sort="shippingStatus">
					출고상태
				</th>
				<th class="th-sortable" data-sort="totalAmount">
					주문금액
				</th>
				<th class="th-sortable" data-sort="totalPaid">
					결제금액
				</th>
				<th class="th-sortable" data-sort="check">
					확인
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> OrderFinanceViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="OrderFinanceViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{customer.name}}
		</td>
		<td>
			{{invoiceNumber}}
		</td>
		<td>
			{{date}}
		</td>
		<td>
			{{orderedBy}}
		</td>
		<td>
			{{shippingStatus}}
		</td>
		<td>
			{{formatCurrency totalAmount}}
		</td>
		<td>
			{{formatCurrency totalPaid}}
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="check" {{checked check}}>
		</td>
	</tr>
</template>

